<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Cubo do Saber</title>
    <meta name="description" content="O Cubo do Saber - Sistema de Gerenciamento de Ensino">
    <meta name="author" content="Equipe O Cubo do Saber">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/imgs/logo/logo1.png">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a href="/"> <img src="../static/imgs/logo/logobranco.png" alt="Logo O Cubo do Saber">
        </div>
        <nav class="main-nav">
            <a href="/sobre">Sobre nós</a>
            <a href="/cadastro" class="btn-cta">Cadastro</a>
        </nav>
    </header>

    <main class="hero">
        <div class="hero-content">
            <h1>Construindo conhecimento, bloco a bloco</h1>
            <p>A curiosidade é o primeiro bloco. O conhecimento é a sua ferramenta. Bem-vindo ao Cubo do Saber, o lugar onde você tem o poder de construir a versão mais incrível do seu futuro.</p>
            <a href="/cadastro" class="btn-cta-main">Comece a construir</a>
        </div>
    </main>

    <footer class="main-footer-section">
        <div class="footer-content">
            <div class="footer-logo-social">
                <img src="../static/imgs/logo/logobranco.png" alt="Logo O Cubo do Saber">

                <div class="footer-social">
                    <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                    <a href="https://github.com/chrysto1/O-Cubo-do-Saber" target="_blank" aria-label="Github"><i class="fab fa-github"></i></a>
                    <a href="https://discord.gg/PpwdZNYezf" target="_blank" aria-label="Discord"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            <div class="footer-contact">
                <h3>Contate-nos</h3>
                <p>Rua Pedro Paulino, 77</p>
                <p>Poço, Maceió - AL, CEP: 57025-340</p>
                <p>contato.ocubodosaber@gmail.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Copyright 2025 | O Cubo do Saber | Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>